
{% extends 'home/base.html' %}
{%block titles %}
 <title>Log-in</title>
{%endblock titles%}
{%block content%}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{%if next%}
  {%if user.is_authencticated%}
      <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form method="post" action="{%url 'login' %}">

          {%csrf_token%}
                  {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>


        </form>

      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
{%endblock%}

