{% extends 'home/base.html' %}
{% block page %}
{%load static%}

<body>
      <header class="jumbotron my-4">
        <h1 class="display-3">Welcome!</h1>
        <p class="lead"> Library is a free online library where you can find literally thousands of free books to read for free online, from classics to science fiction to Shakespeare. Registration (it's free) at Read Print gives the user a virtual library card for a wide variety of books, as well as the ability to keep track of what you've read and what you'd like to read, discover new books you might like, and join online book clubs to discuss great works of literature.
</p>
        <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
      </header>
      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/genres.jpg' %}" alt="Genres" height="220">
            <div class="card-body">
              <h4 class="card-title">Genres</h4>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <a href="{%url 'catalog:genres'%}" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/books.jpeg' %}" alt="" height="220">
            <div class="card-body">
              <h4 class="card-title">Books</h4>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <a href="{%url 'catalog:books'%}" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/authors.jpg' %}" alt="" height="220">
            <div class="card-body">
              <h4 class="card-title">Authors</h4>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <a href="{%url 'catalog:authors'%}" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/top100.jpeg' %}" alt="" height="220">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <a href="" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}